@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat&display=swap');
.menu {
    font-family: "Montserrat", sans-serif;
    background: #17181c;
    width: 180px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 999999;
    color: white;
}

.menu .menu-options {
    list-style: none;
    padding: 10px 0;
}

.menu .menu-options .menu-option {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
}

.menu .menu-options .menu-option:hover {
    background: rgba(0, 0, 0, 0.2);
}

.menu-option>a {
    text-decoration: none;
    color: #125be3;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */

{
    opacity: 0;
}