@font-face {
  font-family: "iconfont"; /* Project id 4511547 */
  src: url('iconfont.woff2?t=1714031676079') format('woff2'),
       url('iconfont.woff?t=1714031676079') format('woff'),
       url('iconfont.ttf?t=1714031676079') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-xedia-rengongzhineng:before {
  content: "\e740";
}

.el-icon-xedia-rengongzhineng_line:before {
  content: "\e611";
}

.el-icon-xedia-icon__xuanzekemu:before {
  content: "\e620";
}

.el-icon-xedia-dianzan:before {
  content: "\e697";
}

.el-icon-xedia-dianzan1:before {
  content: "\e6a6";
}

.el-icon-xedia-jiaoliu:before {
  content: "\e6b8";
}

